/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('http://fr.allfont.net/allfont.css?fonts=montserrat');
@import url('http://fr.allfont.net/allfont.css?fonts=montserrat-bold');
@import url('http://fr.allfont.net/allfont.css?fonts=montserrat-light');

@font-face {
font-family: 'myriadpro';
src: url('fonts/Myriad-Pro_31655.ttf');
font-weight: normal;
font-style: normal;
}

body
{
    font-family: 'Montserrat Regular', Arial, sans-serif;
    color: #272f54;
    margin: 0px;
    padding: 0px;
}

#bloc_page
{
    width: 100%;
    margin-bottom: 0px;
}

#attentes, #partenaires
{
  background-color: #272f54;
  color: white;
  border: 3px solid white;
  text-align: center;
  padding-top: 10px;
  font-family: myriadpro, serif;
  font-size: 1.2em;
  font-weight: bold;
  height: 50px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
header, #bloc1, #bloc2, #bloc3, .backcolor{height: 500px;}
nav{height: 80px; padding-right: 15px;}
nav ul{list-style-type: none;}
nav li{padding-top: 22px;}
nav img{height: 22px;}
nav i{margin-right: 5px;}
nav ul{display: flex; flex-direction: row; justify-content:space-between; }

nav a{ font-size: 1.3em; color: white; font-weight: bold; text-decoration: none; font-style: myriadpro;}
footer{height: 200px;}
header
{
  background-image: url('img/slide.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;}
#bloc1
{background-image: url('img/bloc1.png');
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 0px;
}
#bloc1 .backcolor{ background: rgb(77, 73, 72, 0.7);	}

#bloc2
{background-image: url('img/bloc2.png');
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 0px;
}
#bloc2 .backcolor{ background: rgb(126, 180, 178, 0.7);	}

#bloc3{background-image: url('img/bloc3.png'); background-repeat: no-repeat; background-size: cover;
}
#bloc3 .backcolor{ background: rgb(218, 189, 118, 0.7);	}
footer, nav{background-color: #272f54; }

#textleft{background-color: white;}
